.form-create{
    margin: 20px;
    position: relative;
}

input{
    border: none;
    border-bottom: 1px solid black;
    outline: none;
    background: none;
    margin: 25px;
}

label {
    position: absolute;
    margin: 20px;
    left: 0;
    transform-origin: 0 0;
    transition: 0.2s ease-in-out;
}

input:focus + label{
    transform: translateY(-1em) scale(0.8);
}

.textarea{
    margin: 10px;
    height: auto;
    resize: none;
}

.title:invalid,
.textarea:invalid {
    border-bottom: 2px solid red;
}
