body{
    background-color: #ceecef;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
    margin: 0;
}

.margin-auto-center{
    margin: auto;
}

.cards{
    align-content: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
}